<div class="container">
    <h3>This is functional module - module two</h3>
     <label>
        <span>Enter the price in US$ (it accept only numbers)</span>
        <input class="form-control" OnlyNumber="true" [(ngModel)] = 'price' />
    </label>
    <h4>
        The service cost:<span *ngIf = 'price' [ngStyle]="{'background-color':'green'}" >{{price | currency: "USD"}}</span>
    </h4> 
    <button class="btn btn-primary" routerLink= '/home'>Go back to root module</button>
</div>

<h5>Hello {{name}}</h5>
<button class="btn btn-warning" (click) = "logout()">Logout</button>
