<div class="containerNest">
  <h4>
    and this is nested component in component One. 
  </h4>
  <p>
    Do you like coding?* (the answer for a question came from component one) <b>{{message}}</b>
  </p>
<p>
  The idea has been changed <b>{{changesCounter}}</b> times. ngOnChanges example.
</p>

  <p>
    <ng-content></ng-content>
  </p>
  <legend>
      <span>Please enter your email adress: </span><input class="form-control"  type="text" #childText (keyup)= "onChange(childText.value)">
      <button class="btn btn-success" (click)="emailValidator(childText.value)">Subimt</button>
  </legend>

  <p *ngIf = "errorMessage && errorMessage === 'This pattern emial is OK'" class="alert alert-success" >
    {{errorMessage}}
  </p>

  <p *ngIf = "errorMessage && errorMessage === 'This pattern email is not OK'" class="alert alert-danger" >
    {{errorMessage}}
  </p>


</div>
