<div class="container">
  <h4>
    and this is nested component in component One. 
  </h4>
  <p>
    The message from component one (host component) is: {{message}}
  </p>
  <p>
    <ng-content></ng-content>
  </p>
  <legend>
      <span>Please enter your mail adress: </span><input class="form-control"  type="text" #childText (keyup)= "onChange(childText.value)">
      <button class="btn btn-success" (click)="emailValidator(childText.value)">Subimt</button>
  </legend>

  <p *ngIf = "errorMessage && errorMessage === 'This emial is OK'" class="alert alert-success" >
    {{errorMessage}}
  </p>

  <p *ngIf = "errorMessage && errorMessage === 'This email is not OK'" class="alert alert-danger" >
    {{errorMessage}}
  </p>


</div>
