@mixin leftRightAuto {
    margin-left: auto;
    margin-right: auto;
}

input {
    width: 20em;
    margin-bottom: 20px;
    @include leftRightAuto();
}

button {
    display: block;
    @include leftRightAuto();
}

p {
    margin-top: 30px;
    text-align: center
}

.alert-danger {
    margin-left: auto;
    margin-right: auto;
    width: 30em;
}
