<app-menu></app-menu>

<div @fade class="container">
    <h3>
        This application shows some Angular features, like:
    </h3>
        <li>
            usage of ngOnChanges, @Output, @Input
        </li>
        <li>
            service, dependecy injection
        </li>
        <li>
            CSS and Angular animations
        </li>
        <li>
            ng-content
        </li>
        <li>
           various ways to bind properties to an template
        </li>
        <li>
            ngClass, ngStyle
        </li>
        <li>
            functional module, lazy loaded
        </li>
        <li>
            routing, router-outlet, router guards
        </li>
        <li>
            directive and Pipes
        </li>
        <li>
            reactive model forms
        </li>
        <li>
            unit tests
        </li>
    <div>
        <button class = 'btn btn-success' (click) = 'show()'>{{buttonMessage}}</button>
    </div>   
    <p [hidden] = 'isHidden' [ngClass]="{'text-two':true}">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elementum eget felis id malesuada. 
            Integer bibendum ante dui. Sed ac magna tempor sapien tempus vehicula vestibulum eu mi. Suspendisse non 
            blandit massa. Vestibulum pharetra diam ornare, sodales orci quis, convallis massa. Donec volutpat nibh sed
             finibus interdum. Maecenas sed scelerisque lorem, fermentum suscipit nisi.
    </p>       
    <button class="btn btn-primary" routerLink= '/two'>Goto module two</button>
</div>



